.c-button{
    background-color: $blue;
    border-radius: 5px;
    box-shadow: 0 3px 0 3px $lightblue;
    color: $white;
    font-weight: bold;
    padding: $space-10 $space_default;
    transition: all .5s;
    transform: translateY(-3px);

    &:hover{
        background-color: $brown;
        box-shadow: 0 0 5px 1px $lightbrown;
        transition: all .5s;
        transform: translateY(3px);
    }

    &.button-delete{
        background-color: $gray;
        border: 1px solid $brown;
        box-shadow: 0 3px 0 3px $lightbrown;
        color: $black;

        &:hover{
            background-color: $lightbrown;
            box-shadow: 0 0 5px 1px $gray;
        }
    }

    &.link-button{
        padding: $space-10 $space_default;
    }

}