.c-card{
    background-color: $white;
    border-radius: 5px;
    box-shadow: 0 0 3px 0 $blue;
    margin: 0 $space_default $space_default 0;
    position: relative;
    transform: translateY(3px);
    transition: all .5s;
    width: calc(33.3% - #{$space_default});


    @include mq(){
        width: calc(50% - #{$space_default});
    }

    @include mq(sm){
        display: flex;
        flex-direction: column;
        margin-right: 0;
        width: 100%;
    }

    &:hover{
        box-shadow: 0 3px 8px $blue;
        transform: scale(1.05);
        transform: translateY(-3px);
        transition: all .5s;
    }

    &__main{
        @include mq(sm){
            box-shadow: 0 0 5px 0 #ebe7e0;
            display: flex;
            flex-direction: row;
            height: 150px;
        }

        &.card-toppage{

            @include mq(sm){
                flex-direction: column;
                height: auto;
            }
        }
    }

    &__category{
        background-color: $lightblue;
        border-radius: 5px 0 5px 0;
        color: $white;
        font-weight: bold;
        left: 0;
        padding: $space-5 $space-10;
        position: absolute;
        top: 0;

        @include mq(){
            font-size: $font-size_m;
        }

        @include mq(sm){
            font-size: $font-size_s;
        }

    }

    &__title{
        color: $black;
        font-size: 17px;
        margin-bottom: $space_default;
        word-wrap: break-word;

        @include mq(sm){
            font-size: $font-size_default;
            margin: 0;
        }

        &.card-ideas-title{
            font-weight: bold;
            margin: $space-10 0;
        }
    }

    &__price{
        color: $red;
        font-size: $font-size_l;
        font-weight: bold;
        margin: $space_10 0 0;
    }

    &__text{
        margin-bottom: 0;
    }


    &__thumbnail{
        border-radius: 5px 0 0 0;
        max-width: 100%;
        height: 220px;

        @include mq(){
            width: 100%;
            max-height: 220px;
            min-height: 200px;    
        }

        @include mq(sm){
            border-radius: 5px 0 0 5px;
            height: 150px;
            min-height: 0;
            width: 150px;
        }

        &.card-toppage-thumbnail{
            
            @include mq(sm){
                width: 100%;
            }
        }
    }

    &__review{

        &-icon{

            color: $gray;

            &.active{
                color: gold;
            }
        }
    }

    &__date{
        font-size: $font-size_m;
        text-align: right;
    }

    &__container{
        margin: $space_default $space-10;
    }

    &__about{
        height: 180px;
        overflow-y: auto;
        overflow-x: hidden;
        padding: $space_20 $space_default 0;

        @include mq(sm){     //
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            height: 150px;
            margin: 0 $space-5;
            padding: $space-10 0;
            width: 100%;
        }

        &.card-toppage-about{

            @include mq(){
                padding: $space-10;
            }
        }
    }
    
    &__wrap{   //
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: $space_default;

        @include mq(){    //
            flex-direction: column;
            margin: $space_default;
        }

        @include mq(sm){    //
            flex-direction: row;
            margin: $space-5;
        }
    }

    &__button{
        background-color: $brown;
        border-radius: 5px;
        color: $white;
        display: block;
        font-size: $font-size_default;
        font-weight: bold;
        margin: $space-10 auto;
        padding: $space_default $space-10;
        text-align: center;
        width: 100%;

        &:hover{
            background-color: $lightblue;
        }

        @include mq(){   //
            margin: $space-5 auto;
            padding: $space-10 $space-5;
        }

        @include mq(sm){    //
            font-size: $font-size_m;
            margin: $space-5;
            padding: $space-10 $space-5;

            &:first-child{
                margin-right: $space-5;
            }
        }
    }

    &__link{
        color: $black;
        display: block;

        &.idea-link{

            &:hover{
                color: $black;
                text-decoration: none;
            }
        }

        &-user{
            display: flex;
            padding: $space_default $space-10;

            &-image{
                border: 1px solid $gray;
                border-radius: 100%;
                height: 30px;
                padding: 1px;
                width: 30px;
            }

            &-name{
                margin-left: $space-5;
            }
        }
    }
}

