.c-form{

    padding: 20px 5%;

    &__wrap{
        margin: 0 auto;
        width: 100%;

        &.wrap-category{
            margin: 0 auto 0 0;
            width: 50%;
        }

        &.wrap-price{
            margin: 0 auto 0 0;
            width: 30%;
        }
    }    

    &__label{
        border-bottom: 1px solid $brown;
        display: block;
        margin: 0;
        width: 100%;
    }

    &__input{
        background-color: $gray;
        border: none;
        box-shadow: 0 0 3px 0 $brown;
        cursor: pointer;
        padding: $space_10 $space_default;
        width: 100%;

        &.input-description{
            resize: none;
        }
    }
}