.c-menu{
    background: none;
    height: 45px;
    width: 45px;
    z-index: 10;

    &__button{
        display: none;
        background: none;

        @include mq(){
            display: block;
        }
    }

    &__image{
        background: none;
    }
}