.c-menu{
    background: none;
    display: none;
    height: 45px;
    width: 45px;
    z-index: 10;

    @include mq(){
        display: block;
    }

    &__button{
        background: none;

        @include mq(){
            display: block;
        }
    }

    &__image{
        background: none;
    }
}