.c-menu{
    background: none;
    height: 45px;
    width: 45px;
    z-index: 10;

    &__button{
        background: none;
    }

    &__image{
        background: $white;

        &.close{
            background: $blue;
        }
    }
}