.c-nav{

    @include mq(){
        background: $blue;
        display: none;
        font-size: $font-size_l;
        height: 100vh;
        padding: $space-20 0 ;
        position: absolute;
        text-align: center;
        width: 100%;

        &.is-open{
            display: block;
            left: 0;
            top: 0;
            transition: all .8s;
            z-index: 5;
        }

    }

    &__list{
        box-sizing: border-box;
        display: flex;
        height: 45px;
        justify-content: space-around;
        margin: 0;
        padding: 10px 0;

        @include mq(){
            background-color: $blue;
            flex-direction: column;
            height: 100%;
        }

        &-item{
            margin: 0 $space-5;

            @include mq(){
                margin: 0 0 $space_30 0;
            }


            &.sub-list{
                margin-bottom: $space_default;

                @include mq(){
                    margin-bottom: $space_30;
                }
    
            }

        }

        &-link{
            padding: $space_default $space_10;

            @include mq(){
                color: $white;
            }
    
            &:hover{
                color: $red;
                font-weight: bold;
                text-decoration-style: dashed;
                text-decoration-color: $white;

            }
        }
    
    }

    &__submenu{
        display: flex;
        flex-direction: column;
        margin: 0 $space_default;

        @include mq(){
            margin: 0;
        }

        &-wrap{
            display: none;
    
            &.is-open{
                background-color: $lightblue;
                display: block;
                margin-top: 12px;
                padding: $space-10 $space_default 0;

    
                @include mq(){
                    border: 3px solid $white;
                    box-sizing: border-box;
                    font-weight: bold;
                    margin-bottom: $space-10;
                    margin-top: 0;
                    padding: $space_30 0 0;
                    width: 100vw;    
                }
            }    
        }

        &-title{
            color: $blue;
            cursor: pointer;
            position: relative;
            white-space: nowrap;

            @include mq(){
                color: $white;
            }

            &.active{
                color: $brown;
                margin-left: $space_40;

                @include mq(){
                    margin-left: 0;
                    text-align: center;
                }
            }    


            @include mq(){
                padding: $space-10 $space_default;
                margin: -10px 0 $space_20;
    
                &.active{
                    font-weight: bold;
                    margin-bottom: 0;
                }
            }
        }

        &-icon{
            color: $lightblue;
            margin-left: $space_5;
            opacity: 0;
            position: absolute;
            top: 15%;

            @include mq(){
                top: 30%;
            }

            &.open{

                &.active{
                    opacity: 1;
                }
    
            }

            &.close{

                &.active{
                    opacity: 1;
                }
    
            }

        }

    
    }
}