.c-nav{

    @include mq(){
        background: $blue;
        display: none;
        font-size: $font-size_l;
        padding: 75px 0 $space_40;
        position: absolute;
        text-align: center;
        width: 100%;

        &.is-open{
            display: block;
            overflow-y: auto;
            top: 0;
            transition: all .8s;
            z-index: 5;
        }

        &__item{
            margin-bottom: $space_20;
        }
    }

    &__list{
        background: #44749d;
        box-sizing: border-box;
        display: flex;
        justify-content: space-around;
        margin: 0;
        padding: 10px 0;

        @include mq(){
            flex-direction: column;
        }
    }

    &__link{
        color: $white;
        padding: $space-10 $space_default;

        &:hover{
            color: $brown;
            font-weight: bold;
            text-decoration-style: dashed;
            text-decoration-color: $white;
        }
    }
}