.c-sort{

    &__trigger{
        background: $brown;
        border-bottom: 1px solid $white;
        color: $white;
        display: block;
        font-weight: bold;
        padding: $space-5 0 $space-5 $space_20;
        text-align: left;
        width: 100%;

        &:last-child{
            border-bottom: none;
        }
    }

    &__list{
        display: none;

        &.open{
            display: flex;
            flex-wrap: wrap;
            margin: 0;
            padding: $space_default $space-10;
        }
    }

    &__item{
        margin-right: $space-5;

        &:last-child{
            margin-right: 0;
        }

        &-input{
            display: none;
        }

        &-label{
            background-color: $white;
            border-radius: 5px;
            cursor: pointer;
            padding: $space-5 $space-10;

            &.active{
                background-color: $lightblue;
            }

            &:hover{
                background-color: $brown;
            }
    
        }
    }
}