.c-user{
    background-color: $white;
    border-radius: 5px;
    padding: $space-10 $space_default;
    margin: $space-30 $space_default;

    @include mq(){
        margin: $space-30 auto;
    }

    &__wrap{
        align-items: center;
        display: flex;
        justify-content: center;
    }

    &__avatar{
        border: 1px solid $gray;
        border-radius: 100%;
        height: 50px;
        padding: 2px;
        width: 50px;
    }

    &__name{
        margin: 0 0 0 $space-10;
    }

    &__container{
        //background-color: $white;
        margin: $space_default auto;
    }
}