.p-catch{

    &__image{

        @include mq(){
            display:none;
        }

        &.catch-sp{
            display: none;

            @include mq(){
                display: block;
            }
        }
    }
}