.p-detail{
    background-color: white;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 0 5px 0 #bdb8ad;
    margin: 0 auto;
    max-width: 980px;
    padding: $space_20 $space_default;
    width: 100%;

    &__container{
        display: flex;
        justify-content: center;

        &-main{
            width: 70%;
        }
    
        &-sub{
            width: 25%;
            margin: 0 1%;
        }
    }

    &__title{
        align-items: center;
        display: flex;
        justify-content: center;
        margin-bottom: $space_40;

        &-text{
            margin: 0 $space_30 0 0;
        }
    }

    &__sumbnail{
        text-align: center;

        &-image{
            height: auto;
            max-width: 500px;
            width: 100%;
        }
    }

    &__check{
        background: $lightbrown;
        border: 1px solid $gray;
        border-radius: 20px;
        padding: $space-10 $space_default;

        &-icon{
            color: $red;
        }
    }


}