.p-detail{
    background-color: white;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 0 5px 0 #bdb8ad;
    margin: 0 auto;
    max-width: 980px;
    padding: 100px $space_default $space_40;
    position: relative;
    width: 100%;

    @include mq(){
        padding: $space_40 $space_default 100px;
        width: calc(100% - 30px);
    }

    @include mq(sm){
        padding-bottom: 120px;
    }


    &__title{
        margin-bottom: $space_40;
        text-align: center;

        @include mq(sm){
            margin-bottom: $space-20;
        }

    }

    &__contents{
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: $space-20;
        position: absolute;
        right: $space-20;
        top: $space_20;

        @include mq(){
            position: static;

        }

        @include mq(sm){
            justify-content: flex-end;
        }
    }

    &__twitter{
        background-color: $twitter;
        border-radius: 20px;
        box-shadow: 0 0 2px 0 $gray;
        color: $white;
        font-weight: bold;
        font-size: 14px;
        margin: 0 $space-10 $space-5;
        padding: $space-10 $space_default;
        width: 150px;

        @include mq(sm){
            margin-right: 0;
        }
    }

    &__check{
        background: $lightbrown;
        border: 1px solid $gray;
        border-radius: 20px;
        box-shadow: 0 0 3px 0 $gray;
        margin: 0 0 $space-5;
        padding: $space-10 $space_default;
        min-width: 180px;

        @include mq(sm){
            margin: 0 0 $space-5 $space-10;
        }

        &-icon{
            color: $red;
        }
    }

    &__container{
        display: flex;
        justify-content: center;

        @include mq(){
            flex-direction: column;
        }

        &-main{
            width: 70%;

            @include mq(){
                width: 100%;
            }
        }
    
        &-sub{
            border: 1px solid $gray;
            box-sizing: border-box;
            height: 100%;
            padding: $space-20 $space-10;
            margin-left: 1%;
            width: 25%;

            @include mq(){
                width: 100%;
                margin: 0;
            }
        }
    }


    &__score{
        margin-bottom: $space_20;
        text-align: center;

        &-text{
            font-size: $font-size_l;
            font-weight: bold;
            margin-left: $space-5;
        }
    }


}