.p-header{
    align-items: center;
    background-color: none;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    height: 80px;
    padding-left: $space_default;
    padding-right: $space_default;
    position: fixed;
    transition: 1s;
    width: 100vw;
    z-index: 2;

    @include mq(){
      height: 60px;
      padding-left: $space-5;
      padding-right: $space-5;
    }

    &.bg-change{
        background: $white;
        background: -moz-linear-gradient(top left, #ebe7e0 0%, $white 100%);
        background: -webkit-gradient(linear, left top, right bottom, from(#ebe7e0), to($white));
        background: -webkit-linear-gradient(top left, #ebe7e0 0%, $white 100%);
        background: -o-linear-gradient(top left, #ebe7e0 0%, $white 100%);
        background: linear-gradient(to bottom right, #ebe7e0 0%, $white 100%);
    }

    &__title{
        font-size: $font-size_xxl;
        margin: 0;
    }
}