.p-index{
    background-color: $white;

    &__title{
        font-weight: bold;
        margin: $space-20 0 $space-10;
        text-align: center;

        @include mq(){
            font-size: $font-size_xxl;
        }

        &-sub{
            color: $blue;
            display: block;
            font-family: "Lobster", cursive;
            font-size: $font-size_l;
            text-align: center;
            margin-bottom: $space-20;

            @include mq(){
                font-size: $font-size_m;
                margin-bottom: $space-30;
            }
        }
    }

    &__container{
        background-color: $lightbrown;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 5px $brown;
        display: flex;
        margin: 0 auto;
        overflow-x: auto;
        padding: $space_30 $space-20 $space-20
    }

    &__wrap{
        margin: 80px auto $space_40;
        text-align: center;

        @include mq(){
            margin-top: 60px;
        }
    }

    &__link{
        color: $white;
        font-size: $font-size_xl;
        padding: $space-10 $space_default;

        @include mq(){
            font-size: 17px;
        }
    }
}