.p-list{
    margin: 0 auto;
    max-width: 980px;
    width: 100%;

    @include mq(){
        width: calc(100% - 30px);
    }


    &__container{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: $space_default;
        padding: $space-10 0 0 $space_default;
        
        @include mq(sm){
            align-items: center;
            flex-direction: column;
            padding: 0;
        }
    }

    &__none{
        min-height: 500px;
        padding: $space_40 0;
        text-align: center;
    }

    &__wrap{
        padding: $space_25 0;
        text-align: center;

        &-text{
            margin: $space_default 0;
        }
    }
}