.p-mypage{
    margin: 0 auto;
    max-width: 980px;
    width: 100%;

    &__user{
        align-items: center;
        display: flex;
        justify-content: flex-end;
        margin-right: $space_default ;
        text-align: right;
        
        &-image{
            border: 1px solid $gray;
            border-radius: 100%;
            height: 35px;
            padding: 2px;
            width: 35px;
        }
    }

    &__contents{

        &-title{
            background-color: $blue;
            color: $white;
            display: block;
            font-size: $font-size_xl;
            font-weight: bold;
            margin: $space_30 0 $space_default;
            padding: $space_default $space-10;

            @include mq(){
                font-size: $font-size_l;
                margin: $space_default 0;
            }
        }

        &-container{
            display: flex;
            flex-wrap: wrap;
            margin-bottom: $space_default;
            padding: $space-10 0 0 $space_default;
        }

        &-link{
            display: block;
            font-size: $font-size_default;
            text-align: right;
            padding-right: $space-5;

            &:hover{
                color: $brown;
                font-weight: bold;
            }
        }

        &-text{
            margin: $space_default 0;
        }
    }
}