.p-news{
    background-color: $white;
    border: 1px solid $lightblue;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 $brown;
    margin: 0 $space_default;
    padding: $space-20 $space_default;
}