.p-submit{
    margin: $space_20 3% 0 0;
    text-align: right;

    &.detail{
        @include mq(){
            align-items: center;
            bottom: $space-20;
            display: flex;
            justify-content: space-around;
            left: 0;
            margin: 0;
            position: absolute;
            right: 0;
        }
        
        @include mq(sm){
            align-items: flex-end;
            flex-direction: column;
            margin-right: $space_default;
        }
    }

    &__button{
        background-color: $blue;
        border-radius: 5px;
        box-shadow: 0 3px 0 3px $lightblue;
        color: $white;
        padding: $space-10 $space_default;
        transition: all .5s;
        transform: translateY(-3px);

        &:hover{
            background-color: $brown;
            box-shadow: 0 0 5px 1px $lightbrown;
            transition: all .5s;
            transform: translateY(3px);
        }

        &.submit-delete{
            background-color: $gray;
            border: 1px solid $brown;
            box-shadow: 0 3px 0 3px $lightbrown;
            color: $black;

            &:hover{
                background-color: $lightbrown;
                box-shadow: 0 0 5px 1px $gray;
            }
        }
    }

    &__link{
        padding: $space-10 $space_default;
    }
}