.l-form{
    background: $white;
    border-radius: 5px;
    box-shadow: 0 0 5px 1px $brown;
    margin: 0 auto;
    max-width: 980px;
    width: 60%;

    @include mq(){
        padding: $space-10 $space-5;
        width: 95%;
    }
}