.l-main{
    background-color: $lightbrown;
    padding: 80px 0 $space_40;

    &.toppage{
        padding: 0;
    }

    &__container{
        margin: 0 auto;
        max-width: 980px;
        width: 100%;
    }
}