.l-main{
    background-color: $lightbrown;
    padding: 120px 0;

    @include mq(){
        padding: 100px 0;
    }


    &__container{
        margin: 0 auto;
        max-width: 980px;
        width: 100%;
    }
}