.u-font__size{
    &-s{
        font-size: $font-size_s;
    }
    
    &-m{
        font-size: $font-size_m;
    }

    &-xl{
        font-size: $font-size_xl;
    }

    &-xxl{
        font-size: $font-size_xxl;
    }
}