.u-margin{

    &-none{
        margin: 0;
    }

    &__left{

        &-10{
            margin-left: $space-10;
        }
    }

    &__10{
        margin: $space-10 0;
    }

    &__default{
        margin: $space_default 0;
    }

    &__small-contents{
        margin: 120px 0;

        @include mq(){
            margin: 40px 0 80px;
        }
    }

    &__minus{
        margin: -120px 0;

        @include mq(){
            margin: -100px 0;
        }
    }
}