.u-margin{

    &-none{
        margin: 0;
    }

    &__default{
        margin: $space_default 0;
    }

    &__small-contents{
        margin: 120px 0;

        @include mq(){
            margin: 40px 0 80px;
        }
    }
}